.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.Word-horizontal {
  display: flex;
  color: white;
}

.Word-vertical {
  display: flex;
  flex-direction: column;
  color: white;
}

.char-no-link {
  background-color: gray !important;
}

.char {
  background-color: orange;
  width: 20px;
  height: 20px;
}

.Word-no-link {
  position: absolute;
  display: flex;
  color: white;
  top: 0;
  left: 0;
}

.link-button {
  padding: 8px 12px;
  background-color: orange;
  border: none;
  margin: 10px 0;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s;
}

.link-button:hover {
  transform: scale(1.05);
}