.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.Word-horizontal {
  display: flex;
  color: white;
}

.Word-vertical {
  display: flex;
  flex-direction: column;
  color: white;
}

.char-no-link {
  background-color: gray !important;
}

.char {
  background-color: orange;
  width: 20px;
  height: 20px;
}

.Word-no-link {
  position: absolute;
  display: flex;
  color: white;
  top: 0;
  left: 0;
}